@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: "Roboto Slab", sans-serif;
    box-sizing: border-box;
}

:root {
    --header-color: #3f88c5;
    --header-text-color: #fff; 
    --main-text-color: #333333;
    --footer-color: #f5d547;
    --accent-color: #ec4e20;
    --page-width: 2000px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: fit-content;
    color: var(--main-text-color);
    display: grid;
    grid-template-rows: 5em auto auto 10em;
}

.header {
    position: sticky;
    grid-row: 1;
    top: 0;
    left: 0;
    margin: 0;
    height: 5em;
    background-color: var(--header-color);
    width: 100%;
    min-width: fit-content;
    display: grid;
    grid-template-columns: minmax(auto, max-content) minmax(5em, 15em) auto minmax(max-content, 40em); /* somehow got it to work :) */
    align-items: center;
    z-index: 1;
    color: var(--header-text-color);
}

.header__navbar-contatiner {
    height: 100%;
    grid-column-start: 4;
    padding: 0 0.5em 0 0.5em;
}


.header__navbar-contatiner__navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    list-style-type: none; 
}

.header__navbar-contatiner__navbar__item {
    padding: 0.5em;
}

.header__navbar-contatiner__navbar__item__text {
    text-decoration: none;
    color: var(--header-text-color);
    font-weight: bold;
    font-size: large;
}

.header__logo__dropdown-content__nav-button {
    text-decoration: none;
    color: var(--header-text-color);
    font-weight: bold;
    font-size: large;
}

.header__logo {
    height: inherit;
    grid-column-start: 1;
    display: flex;
    padding: 0 0.5em 0 0.5em; 
}


.header__logo__icon {
    height: 100%;
    padding: 0.5em;
    grid-row-start: 1;
}

.header__logo__name {
    font-family: "Holtwood One SC", sans-serif;
    font-size: x-large;
    margin: 0;
    padding: 0;
    height: inherit;
    display: flex;
    align-items: center;
    grid-row-start: 2;
}

.header__logo__dropdown-content {
    display: none;
    position: absolute;
    top: 5em;
    background-color: var(--header-color);
    z-index: 1;
}

.header__logo:hover .header__logo__dropdown-content {display: block;}


.header__logo__name__button {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.search-div {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    padding: 0 0.5em 0 1em;
    min-width:fit-content;
}

.header__search-input{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    /* width: 15em; */
    font-size: 1em; 
}


.background-container {
    grid-row: 2;
    position: sticky;
    top: min(calc(-30em + 25vh), calc(-30em + 7em)); 
    padding: 0;
    margin: 0;
    width: 100%;
    height: 30em;
    background: url(background.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid var(--main-text-color) 3px;
} 

.background-container__logo {
    padding: 1em;
    width: 50%;
    min-width: fit-content;
    height: 50%;
    background-color: var(--header-text-color);
    color: var(--main-text-color);
    display: grid;
    grid-template-rows: 50% 25% 25%;
    place-items: center;
}

.background-container__logo__icon {
    height: 100%;
    padding: 0.5em;
    grid-row-start: 1;
}

.background-container__logo__name {
    font-family: "Holtwood One SC", sans-serif;
    font-size: x-large;
    margin: 0;
    padding: 0;
    height: inherit;
    display: flex;
    align-items: center;
    grid-row-start: 2;
}

.background-container__logo__desc {
    grid-row-start: 3;
    font-style: italic;
    order: 1;
    margin: 0;
}
.main-container {
    grid-row: 3;
    margin: 0 auto;
    width: 100%;
    max-width: var(--page-width);
    display: grid;
    grid-template-columns: 15em auto 15em;
}

.main-contatiner__banner-container {
    position: sticky;
    align-self: start;
    top: 7em;
}

.main-contatiner__banner-container--left {
    grid-column: 1;
}

.main-contatiner__banner-container--right{
    grid-column: 3;
}

.main-contatiner__banner-container__banner {
    margin: 1em;
}

.main-contatiner__banner-container__banner a img{
    display: block;
    width: 100%;
    transition: all 0.6s;
}

.main-contatiner__banner-container__banner a {
    display: block;
    width: 100%;
}

.main-contatiner__banner-container__banner a img:hover {
    transform: scale(1.07);
}

.footer {
    grid-row: 4;
    height: 10em;
    display : grid;
    grid-template-columns: 50% 50%;
    background-color: var(--footer-color);
    color: var(--header-text-color);
    place-items: center;
}

.main-container__page-content  h1 {
    text-align: center;
}
.main-container__page-content {
    padding: 0 2em 0 2em;
    height: fit-content;
    width: 100%;
}

.main-container__page-content  section {
   font-size: large;
}

.main-container__page-content iframe {
    width: 100%;
    height: 50em;
}

.main-container__page-content__catalog {
    display: flex;
    flex-wrap: wrap;
}

.main-container__page-content__catalog__book {
    width:min-content;
    margin: 1em;
}

.main-container__page-content__catalog__book__link {
    color: var(--accent-color);
}

.main-container__page-content__catalog__book__link__image {
    width: 10em;
}

.main-container__page-content__catalog__book__link__name {
    
    width: 100%;    
}

.main-container__page-content video {
    margin: 1em;
    width: 100%;
}